<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

    <div class='navbar navbar-inverse navbar-fixed-top'>
          <div class='container'>
                  <a href='/artists' class='navbar-brand sheade'>Throwing Sheade</a>
                  <button class = 'navbar-toggle' data-toggle = 'collapse' data-target= '.navHeaderCollapse'>
                      <span class = 'icon-bar'></span>
                      <span class = 'icon-bar'></span>
                      <span class = 'icon-bar'></span>
                  </button>
                  <div class = 'collapse navbar-collapse navHeaderCollapse'>
                      <div id="myScrollspy">
                              <ul class = 'nav navbar-nav navbar-right'>
                                      <li><a href='#artists'>Artist</a></li>
                              </ul>
                      </div>
                  </div>
          </div>
  </div>

      <header class="hero">
        <h1 class="logo">Throwing Sheade</h1>
      </header>

<a name="artists" class='content-body'>
      {{{body}}}
    </a>
      <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
