<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <header class="jumbotron">
      <h1><a href="/artists">Throwing SHEAde</a></h1>
      <a href="/artists/new">Add Artist</a>
    </header>
    <hr>
      <!-- the below `triple-stash`, avoid handlebars escaping any html -->
      {{{body}}}
  </body>
</html>
