
<div class="container-fluid">

        {{#each artists}}
        <div class="thumblist">
          <a href="/artists/{{_id}}">{{name}}</a>
          <img src="{{photo_url}}"/>
        </div>
        {{/each}}

</div>
