

<div class="container-fluid" name="artists">
        {{#each artists}}
        <ul class="thumblist">
          <a href="/artists/{{_id}}"><li><img src="{{photo_url}}"/></li></a>
        </ul>
        {{/each}}

</div>
<div class="add-artist-button">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-artist-modal">
    Add New Artist
  </button>
</div>

<!--------Form for New Artists--------->
<div class="modal fade" id = "new-artist-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

        <form action="/artists" method="post" class="form-group">
          <label for="artist-name">Artist Name:</label>
          <input id="artist-name" type="text" name="name" class="form-control">
          <label for="artist-hitSong">Hit Song:</label>
          <input id="artist-hitSong" type="text" name="hitSong" class="form-control">
          <label for="artist-bio">Artist Bio:</label>
          <input id="artist-bio" type="text" name="bio" class="form-control">
          <label for="artist-photo_url">Artist Picture URL:</label>
          <input id="artist-photo_url" type="text" name="photo_url" class="form-control">



        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-success">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
