<h2>Add Another Houston Rap Artist</h2>
<form action="/artist" method="post">
  <label for="artist-name">Artist Name:</label>
  <input id="artist-name" type="text" name="name">
  <label for="artist-hitSong">Hit Song:</label>
  <input id="artist-hitSong" type="text" name="hitSong">
  <label for="artist-album">Artist Album:</label>
  <input id="artist-album" type="text" name="album">
  <label for="artist-bio">Artist Bio:</label>
  <input id="artist-bio" type="text" name="bio">
  <label for="artist-photo_url">Artist Name:</label>
  <input id="artist-photo_url" type="text" name="photo_url">
  <input type="submit">
</form>
