
<h3 class="artist-name">{{artist.name}}</h3>

<a href="/artists/{{artist._id}}/edit">Edit Artist Info</a>

<img class="artist-pic" src={{artist.photo_url}}>
<div class="artist">Artist Bio:</div>
<div class="artist">{{artist.bio}}</div>
